[submodule "Práctica 03"]
	path = Práctica 03
	url = https://github.com/SchatzM/HolaMundo
[submodule "Práctica 04"]
	path = Práctica 04
	url = https://github.com/SchatzM/PracticaJS
[submodule "Práctica 05"]
	path = Práctica 05
	url = https://github.com/SchatzM/PracticaJS-2
[submodule "Práctica 06"]
	path = Práctica 06
	url = https://github.com/SchatzM/PracticaJS-3
[submodule "Práctica 07"]
	path = Práctica 07
	url = https://github.com/SchatzM/PracticaJS-4
[submodule "Práctica 08"]
	path = Práctica 08
	url = https://github.com/SchatzM/PracticaJS-5
[submodule "Práctica 09"]
	path = Práctica 09
	url = https://github.com/SchatzM/PracticaJS-6
[submodule "Práctica 10"]
	path = Práctica 10
	url = https://github.com/SchatzM/PracticaJS-7
[submodule "Práctica 11"]
	path = Práctica 11
	url = https://github.com/SchatzM/PracticaJS-8
[submodule "Práctica 12"]
	path = Práctica 12
	url = https://github.com/SchatzM/PracticaJS-9
[submodule "Práctica 13"]
	path = Práctica 13
	url = https://github.com/SchatzM/PracticaJS-10
[submodule "Práctica 14"]
	path = Práctica 14
	url = https://github.com/SchatzM/PracticaJS-11
